body{
    background-color: beige;
}

.title {
    color: black;
    text-align: center;
    font-size: 30px;
    margin: 30px;
}

#div1, #div2 {
    background-color: beige;
    padding: 10px;
}

h2 {
    font-size: 40px;
    color: red;
}

#p1, #p2 {
    width: 1120px;
    color: black;
    font-size: 22px;
    border: 2px solid black;
    padding: 20px;
}

.vs {
    font-size: 20px;
    font-weight: 500;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

